{{ define "main" }}

<section id="home">
    <div class="work-item">
        <div class="work-header">
            <h1>An overview of my software and hardware</h1>
        </div>
        <div class="work-banner">
            <img src="/works/xiaoxuan-lang/images/banner_v2.png" alt="banner">
        </div>
        <div class="work-content">
            <div class="work-entry">
                <h2 class="capital">Programming Language</h2>
                <div class="work-detail">
                    <p><em>XiaoXuan Language</em> is an elegant, full-stack programming language.
                        It consists of several variants and can be used to develop a variety applications,
                        including digital circuits and chips,
                        microcontroller programs, GPU shaders, native programs, system programs,
                        service programs, web applications and more.
                        All variants use the same syntax and design philosophy, allowing you to learn
                        one language for all domains of development.
                    </p>
                    <p>The implemented variants:</p>
                    <ul class="card">
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoXuan Script</span></h3>
                            </div>
                            <div class="card-content">Build high-performance, solid web applications that compile to
                                WebAssembly on-the-fly without requiring any build tools.
                            </div>
                        </li>
                        <li>
                            <div class="card-title">
                                <h3><a href="/works/xiaoxuan-core">XiaoXuan Core</a></h3>
                            </div>
                            <div class="card-content">Build powerful user-space system programs with extremely
                                fast startup speed and small footprint, direct <em>syscall</em> and interoperation
                                with C shared libraries.
                            </div>
                        </li>
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoXuan Managed</span></h3>
                            </div>
                            <div class="card-content">Build secure and robust programs for business systems,
                                cloud-native (microservices and serverless functions), data science, A.I. and more.
                                Each program runs in its own isolated environement, programs do not need
                                to be installed, only a URL address is required to run them.
                            </div>
                        </li>
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoXuan Native</span></h3>
                            </div>
                            <div class="card-content">A general-purpose programming language inspired by Rust, but much
                                simpler. Automatic memory management without garbage collection, and no complex concepts
                                such as ownership, borrow checking, and lifetimes. Supports compilation to
                                native code for architectures such as <em>x86-64</em>, <em>aarch64</em> and
                                <em>riscv64</em>.
                            </div>
                        </li>
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoXuan Micro</span></h3>
                            </div>
                            <div class="card-content">Easily build high-performance firmware for microcontroller, the
                                built-in micro VM makes it possible to "write once, run anywhere".
                            </div>
                        </li>
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoXuan Logic</span></h3>
                            </div>
                            <div class="card-content">A brand new and modern hardware description language (HDL) that
                                allows you to develop hardware and chipss in the same way as you develop open source
                                software. It comes with a GPU-accelerated simulator that significantly improves
                                test efficiency.</div>
                        </li>
                    </ul>
                    <figure class="wide white">
                        <img src="/works/xiaoxuan-lang/images/variants.png" alt="XiaoXuan Language Family">
                        <figcaption>
                            <p>XiaoXuan Language Family</p>
                        </figcaption>
                    </figure>
                    <p>The <em>XiaoXuan programming language</em> supports writing code in local languages,
                        such as Chinese, Japanese and French. In addition to keywords, the standard library add
                        related documentation are also translated into local languages.
                        Using local language programming is beneficial for children, beginners and
                        non-computer majors who are not native English speakers.
                    </p>
                    <p>
                        The implemented local language variants are as follows:
                    </p>
                    <ul>
                        <li><span class="null-link">XiaoXuan Core Hans</span> - The Chinese edition (中文版)</li>
                    </ul>
                </div>
            </div>
            <div class="work-entry">
                <h2 class="capital">Operating System</h2>
                <div class="work-detail">
                    <p>In addition, I have designed two new operating systems, one for daily use
                        by software engineers and the other for microcontrollers.
                        Both are implemented using <em>XiaoXuan Lang</em>.
                    </p>
                    <ul class="card">
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoYu OS</span></h3>
                            </div>
                            <div class="card-content">A brand new operating system designed for engineers daily use.
                                The system is very secure, all applications run in isolated
                                environement with lowest possible privileges, applications must request permissions from
                                the user when they need them. The system is also very clean, and even after decades of
                                use, it will remain as clean as new, with no junk left behind. Applications are
                                maintained by
                                developers, and the system does not require package maintainers.</div>
                        </li>
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoYu Micro OS</span></h3>
                            </div>
                            <div class="card-content">A true operating system (not RTOS) for microcontrollers (MCUs).
                                Applications (firmwares) can be run simply by "downloading" and "configuring", without
                                the need to install cumbersome development tools and debuggers and then compile from
                                source code. It completely changes the way firmware is developed and deployed.</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="work-entry">
                <h2 class="capital">Hardware</h2>
                <div class="work-detail">
                    <p>I am sharing my open-source hardware designs here. Please note that I do not
                        sell <em>physical</em> hardware, and there are no purchase links. Here
                        you will find only the hardware schematics, design documents, and usage instructions.
                    </p>
                    <ul class="card">
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoYu Debugger</span></h3>
                            </div>
                            <div class="card-content">A very simple debugger (programmer) base on
                                CMSIS-DAP implemented using a low cost MCU <em>STM32F042</em> and very
                                few parts. Used for downloading firmware to other MCUs or debugging programs.</div>
                        </li>
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoYu Dev Board Mini</span></h3>
                            </div>
                            <div class="card-content">A reference board for <em>XiaoXuan Micro</em> development.
                                It uses a low-cost MCU <em>STM32G070</em> in LQFP package, which is easy to make and
                                solder by yourself.</div>
                        </li>
                        <li>
                            <div class="card-title">
                                <h3><span class="null-link">XiaoYu Dev Board</span></h3>
                            </div>
                            <div class="card-content">A reference board for <em>XiaoYu Micro OS</em> development.
                                It integrates a debugger as well as numerous interfaces, buttons and LEDs using
                                the common MCU <em>STM32F412</em>.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="work-item post">
        <div class="work-header">
            <h1>Recent Posts</h1>
        </div>
        <div class="work-content">
            <ul>
                {{ $pages := where site.RegularPages "Type" "posts" }}
                {{ $paginator := .Paginate $pages }}
                {{ range $index, $page := $paginator.Pages }}

                <li {{if eq $index 0}}class="first" {{end}}>
                    <h3><a href="{{ $page.Permalink }}" title="{{ $page.Title }}">{{ .Title }}</a></h3>
                    {{ partial "aside_mini" . }}
                    {{ partial "featured_image" .}}
                    <p>{{ .Summary }}</p>
                    {{ if .Truncated }}
                    <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
                    {{ end }}
                </li>
                {{ end }}
            </ul>

            <!--
            {{ template "_internal/pagination.html" . }}
            -->
        </div>
    </div>
</section>

{{ end }}